/*Reset,tira a margim*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Menu principal*/
.menu{
    display: flex;
    justify-content: space-between; /*separa a logo e o menu*/
    align-items: center;
    background-color: #eee;
    padding: 15px 30px;
}
/*logo*/
.logo{
    color: red;
    font-size: 24px;
    font-weight: bold;
}
/*Lista*/
.menu-links{
    list-style: none;
    display: flex;
    gap: 25px; /*espaço entre os itens*/
}
/*Link*/
.menu-links a{
    text-decoration: none;
    color: #555;
    font-size: 16px;
    transition: 0.3s;
}
/*Hover (efeito ao passar o mouse)*/
.menu-links a:hover{
    color: red;
}
/*Item ativo (inicio)*/
.menu-links .ativo{
    color: red;
    font-weight: bold;
}
.contato{
    background-color: #f6f4f4;
    color: #a8001c;
    text-align: center;
    padding: 40px 20px;
}
.contato h1{
    font-size: 28px;
    color: red;
    margin-bottom: 20px;
}
.info-contato{
    margin-bottom: 30px;
}
.info-contato p{
    font-size: 16px;
    margin: 10px 0;
}
/*Mapa*/
.mapa iframe{
    width: 80%; /*ocupa 80% da largura do  site*/
    height: 400px; /*altura do mapa*/
    border: 0; /*remove borda*/
}
/*Responsivo*/
@media (max-width: 600px){
    .contato{
        padding: 2px 10px; /*espaco em telas pequenas*/
    }
    .contato h1{
        font-size: 20px;
    }
    .contato p{
        font-size: 14px;
    }
    .mapa iframe{
        width:100%;
        height:300px;

    }
}
.nossaHistoria{
    background-color: #f6f4f4;
    color: black;
    text-align: center;
    padding: 40px 20px;
}
.nossaHistoria h1{
    font-size: 28px;
    color: red;
    margin-bottom: 20px;
}
/*Contato*/
.contato{
    max-width: 600px;
    margin: 50px auto;
    background-color: #9a1b9a;
    padding: 30px;
    border-radius: 10px;
    color: white;
}
.contato h1{
    text-align: center;
    margin-bottom: 30px;
    color: #a8001c;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/*input*/
input, text{
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
textarea{
    height: 120px;
    resize: none;
}
/*botao*/
button{
    background-color: #c40024;
    color: white;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: #d92007ce;
}
#resultado{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
/*footer*/
/*Barra vermelha superior*/
.barra-alerta{
    background-color: #a8001c;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
/*container principal do footer*/
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 30px;
    flex-wrap: wrap;
}
/*Logo*/
.footer-logo h2{
    color: red;
}
/*link do site*/
.footer-link{
    display: flex;
    /*flex-direction: column;*/
    gap: 10px;
}
.footer-link a{
    text-decoration: none;
    color: #444;
    font-size: 14px;
}
.footer-link a:hover{
    color: #a8001c;
}
/*Redes sociais*/
.footer-redes{
    display: flex;
    gap: 15px;
}
.footer-redes a{
    text-decoration: none;
    color: #444;
    font-size: 14px;
}
.footer-redes a:hover{
    color: #a8001c;
}
/*Instagram*/