body{
    background-color: #222;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container{
    width: 500px;
    margin: 50px auto;
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
button{
    padding: 12px;
    background-color: darkred;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover{
    background-color: red;
}
#resultado {
    text-align: left;
    margin-top: 20px;
    line-height: 2;

}











input, text{
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
text{
    height: 120px;
    resize: none;
}

#resultado{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}